<html>
    <head>
        <title>Gundam Encyclopedia - Main Page</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/template/css/normalize.css">
        <link rel="stylesheet" href="/stylesheet.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Oswald:wght@200&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Encyclopedia of Gundam</h1>
            <h2>Timelines</h2>
        </header>
        <a href="javascript:void(0)" class="btn" id="mute" href="#">
            <img src="/volume-mute.svg"><span id="btnText">Sound Off</span>
        </a>
        <main>
            <ul class="glossary">
                <% Object.values(timelines).forEach(timeline => { %>
                    <li id = <%= timeline.id %>>
                        <a href= <%= timeline.id %>>
                            <img src = "/play-arrow.svg" class="playArrow">
                            <h3><%= timeline.title %></h3>
                            <span><%= timeline.shortDesc%></span>
                            <% if (timeline.id === "ac") {%>
                                <div class="backgroundImg"></div>
                            <%}%>
                            <audio src= "/Music/<%= timeline.music %>"" type="audio/mpeg"></audio>
                        </a>
                        <% if (timeline.id !== "ac") {%>
                        <style>
                            #<%= timeline.id %> a {
                                background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, 
                                rgba(107,115,125,0) 100%), url("Images/<%=timeline.image%>");
                            }
                        </style>
                        <%}%>
                    </li>
                <%})%>
            </ul>
            <p>At this time, the Gundam Encyclopedia is limited to Gundams that appear in their respective anime and does not cover MSV or manga sidestories.</p>
        </main>
        <script src="/musicController.js"></script>
    </body>
</html>